@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body
{
	background-color:#F8F8F8;
}

.ui-widget {
    font-family: 'nunito',sans-serif;
}

.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: 'nunito', sans-serif;
  background-color: #33393E;
  overflow-x: hidden;
  padding-top: 20px;
  -webkit-box-shadow: 3px 1px 10px -5px rgba(56,56,56,1);
  -moz-box-shadow: 3px 1px 10px -5px rgba(56,56,56,1);
   box-shadow: 3px 1px 10px -5px rgba(56,56,56,1);
   z-index: 3;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #D5CDB0;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {

  margin-left: 240px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.ui-toolbar {
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 2;
}

.ui-widget-header {
    border: none;
    background: white;
    color: #33393E;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 7px 5px -6px rgba(173,173,173,1);
	-moz-box-shadow: 0px 7px 5px -6px rgba(173,173,173,1);
	box-shadow: 0px 7px 5px -6px rgba(173,173,173,1);
	display:list-item;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




.infoPersonal
{
	position: absolute;
	top : 100px;
	left: 300px;
	background-color: white;
	 -webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
}

.infoDatos
{
	position: absolute;
	top : 300px;
	left: 950px;
	background-color: white;
	 -webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
}

.infoAspiracionLaboral
{
	position: absolute;
	top : 440px;
	left: 310px;
	background-color: white;
	 -webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
}

.infoPerfilProfesional
{
	position: absolute;
	top : 100px;
	left: 870px;
	background-color: white;
	 -webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
}


.ui-inputfield
{
	box-shadow: none;
    border-color: #D5CDB0;
    color: #33393E;
    background: white;
    font-family: 'nunito',sans-serif;
    
	
    
}

.ui-outputlabel .ui-widget
{
	font-size: 10px;
}


.tituloInfoPersonal
{
	font-family: 'nunito',sans-serif;
	font-size: 20px;
	color: orange;
}

.textInfo
{
	font-family: 'nunito',sans-serif;
	font-size: '15px';
	color: #33393E;
}

.divInfoAcademica
{
	position: absolute;
	top : 600px;
	left: 250px;
	width: 1100px;
	background-color: orange;
	 -webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
	
}

.divExperienciaLaboral
{
	position: absolute;
	top : 100px;
	left: 250px;
	width: 1100px;
	background-color: orange;
	 -webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
}

.tituloInfoAcademica
{
	text-align: center;
	font-family: 'nunito',sans-serif;
	font-size: 25px;
	color: white;
}


.linksDeAcceso
{
	font-family: 'nunito',sans-serif;
	font-size: 20px;
	color: white;
}

.bienvenido
{
	font-family: 'nunito',sans-serif;
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
}

.ui-button .ui-button-text{
    display: block;
    line-height: normal;
    font-family: 'nunito',sans-serif;
	font-size: 15px;
	color: #D5D6D7;
	font-weight: normal;
	background-color: #33393E;
	border: none;
}

.ui-state-default
{
	border:none;
}

.ui-state:hover
{
	background-color: gray;
}

.textoBarraSuperior
{
	font-family: 'nunito',sans-serif;
	font-size: 20px;
	color:  #33393E;
	justify-content: center;
  	align-items: center;
}

.tablaInformacionAcademica
{

	
	position: absolute;
	top : 740px;
	left: 350px;
	background-color:white;
	-webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
	text-align: center;
}

.tablaExperienciaLaboral
{
	position: absolute;
	top : 240px;
	left: 300px;
	background-color:white;
	-webkit-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	box-shadow: 7px 5px 5px -5px rgba(173,173,173,1);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	z-index: 1;
	text-align: center;
}

.botonAdd
{
	position: absolute;
	top : 680px;
	left: 350px;
}

.botonAddExpLaboral
{
	position: absolute;
	top : 180px;
	left: 300px;
}


.headerInfoAcademica
{
	font-family: 'nunito',sans-serif;
	font-size: 15px;
	color: orange;
}

.contenidoInfoAcademica
{
	font-family: 'nunito',sans-serif;
	font-size: 15px;
	color: #33393E;
	font-weight: normal;
}



.editarEliminarImagen
{
	width: 20px;
	height: 20px;
}

.labelAgregarInfoAcademica
{
	font-family: 'nunito',sans-serif;
	font-size: 18px;
	color: orange;
	font-weight: normal;
}


.columnaId
{
	width: 30px;
}

.columnas
{
	width: 150px;
}
